body {
    background-color: rgb(243, 243, 230);
}

.row {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.card {
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 700px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}

.text-register {
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    max-width: 130px;
    margin-top: 35px;
    margin-bottom: 0;
    display: block;
    background-color: #f1904e !important; 
    color: #ffffff;     
}

/* css EDIT_EVENTO */
.lista-actos {
    display: block;
    flex-direction: column;
}

.acto {
    display: block;
    align-items: center;
    justify-content: space-between; 
    margin-top: 25px;
}

.btn-editar-acto {
    max-width: 100px;
    max-height: 30px;
    margin-left: 80px;
    display: inline-flex;
    align-items: center;
    background-color: #f1904e !important;
    color: #ffffff;
    float: right;
}

form.formulario-editar-acto.border {
    margin-top: 25px;
}




